[Desktop Entry]
Type=Application
Name=Image Viewer
GenericName=Image Viewer
Comment=View images
Icon=imv
TryExec=imv
Exec=imv %F
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/jpg;image/gif;image/bmp;image/webp;image/tiff;image/x-xcf;image/x-portable-pixmap;image/x-xbitmap;
