[Unit]
Description=Idle manager for Wayland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.dotfiles/bin/nova-start-idle
Restart=on-failure

[Install]
WantedBy=graphical-session.target
