[Desktop Entry]
Version=1.0
Name=YouTube
Comment=YouTube
Exec=webapp-launch https://youtube.com/
Terminal=false
Type=Application
Icon=youtube
StartupNotify=true
Categories=Network;
X-Qshell-WebApp=true
