[Desktop Entry]
Type=Application
Name=File Manager
GenericName=File Manager
Comment=Browse files in yazi inside a kitty window
Exec=kitty-run --class=qshell-float-yazi yazi %f
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
