window {
  border-radius: 8px;
  opacity: 0.95;
  border: 2px solid #cdd6f4;
  background-color: #1e1e2e;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;
  color: #cdd6f4;
}

image {
  color: #cdd6f4;
}

progressbar {
  border-radius: 4px;
}

progress {
  background-color: #89b4fa;
}
