// Miscellaneous settings

// Spawn processes at startup
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "mako"
spawn-at-startup "swayosd-server"
spawn-at-startup "nova-start-idle"

hotkey-overlay {
    // skip-at-startup
}

// Ask clients to omit client-side decorations
prefer-no-csd

// Screenshot path
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Cursor settings
cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}

// Environment variables
environment {
    GTK_THEME "Adwaita-dark"
    QT_QPA_PLATFORMTHEME "qt5ct"
}
